# Python virtual environment
.venv/

# ======================
# Python cache
# ======================
__pycache__/

#GeminiTest/

out_circuits/

yolo_dataset/

testset/
testset11cls/

component_dataset/
yolo_dataset_mix/
ranked_images/
datasets/
synthetic_schemdraw_dataset_no_wire/
synthetic_schemdraw_dataset/